/*GLOBAL SETTINGS*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html{
    scroll-behavior: smooth;
}




body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Work Sans',sans-serif;
    overflow-y: scroll;
   
}

.menu a,nav a{
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    font-size: 1rem;
    
    
}


/*NAVIGATION BAR*/

.menu i{
    margin: 0.3rem;;
}

nav{
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    background-color:#ff003c;
    
    justify-content: space-between;
}

nav img{
 
    height: auto;
    width: 3rem;
    filter: invert(100%);
    margin-right: 0.2rem;
}

.logo-link{
    align-items: center;
    display: flex;
    
}



nav .menu{
    
display: flex;
justify-content: space-evenly;
width: 50%;
align-items: center;

}

.schelude{
   color: rgb(7, 6, 7);;

}

nav a:hover{
    color: aquamarine;
}

.schelude:hover{
    color: yellow;
}


/*MAIN AREA*/

main{
    transform: translateY(3rem);
    z-index: -1;
}
.hero{
    
    display: flex;
    box-shadow: 0px 10px 10px rgb(160, 158, 158);
}

.img-container{
  
   width: 100%;
   
 
}

.hero img{
    
    display: block; 
    width: 50rem;
    height: auto;
    border-radius: 0 0 80% 0;
    
}

.hero-text-container{
   text-align: center;

}

.hero-text-container h1{
    font-size: 4rem;
    text-align: center;
    padding: 0em 2em; 
    letter-spacing: 0.2rem;
    
}

.hero-text-container span{
    color:#ff003c;
    font-weight: 600;
}

.more-info {
    text-align: center;
    padding: 9rem 10rem;
  
}

/*CAROUSEL*/
.carousel-item img{
    width: 100% !important;   
    height: 30rem !important;
    object-fit: cover !important;
}

/*SERVICES*/

.services{
    padding: 9rem 20rem;
}
.services-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
/*ABOUT US SECTION*/

.about-us{
    background-image: url("/img/Layer 1.svg");
    height: 50rem;
    background-size: cover;
    
    
}

.about-us-text{
    text-align: center;
    padding: 9rem 20rem;
}