
.form-box{
    display: block;
    text-align: center;
    width: 50rem;
    height: 70rem;
    margin: 0 auto;
    box-shadow: 0.4rem 0.3rem  1rem rgb(165, 163, 163);
}

.form-box h2{
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.35rem;
}

.form-control {
    border: none !important;
}

.form-control input{
    border: none;
    border-bottom: 2px solid rgb(92, 88, 88) ; 
   

}

.form-control input:focus{
    outline: none;
    border-bottom: 2px solid rgb(233, 166, 90) ; 

   

}

.radio label{
    margin: 1rem;
}

.form-control select{
    /* width: 10rem;
    height: 2rem;
    border: none;
    border-bottom: 2px solid rgb(92, 88, 88) ; 
    font-size: 1rem; */

    z-index: 1800; 
    background: #fff; 
    height: 33px; 
    width: 30%;
    height: 3rem;
   
}
    
select option:checked {
    background: #e62929 -webkit-linear-gradient(bottom, #e62929 0%, #e62929 100%);
  }
  select option:hover {
    background: #e62929 -webkit-linear-gradient(bottom, #e62929 0%, #e62929 100%);
    color: #fff;
  }
  select option {
    padding:8px;
    
  }


button{
    
    border: none;
    background-color: #f52929;
    height: 3rem;
    width: 10rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3rem;
    box-shadow:4px 4px #ffc30f;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

button:hover{
    background-color:#ffc30f ;
    box-shadow:4px 4px  #4ac0ff;
    
}

.pet-box h1{
    text-align: center;
    margin: 5rem 0;
}
.pets{
    margin:2rem 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 3rem;
}   

.pet-card{
    margin:0 auto;
    background-color: #ffc30f;
    padding: 3rem;
    border-radius: 2%;
}



.btn-remove{
    color: #fff;
}

.search-entry{
display: flex;
justify-content: center;
}

.go-back{
    display: none;
}